body{
  margin: 0;
  font-family: 'lmsans10-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--text);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar{
  display: none;
}

@font-face{
  font-family: 'lmsans10-regular';
  src: local('lmsans10-regular'), url(./fonts/lmsans10-regular.otf) format('truetype');
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main{
  height: 100%;
}

.main-container{
  width: 100%;
}

.content{
  min-height: calc(100vh - 185px);
  overflow: auto;
  margin: 0 20vw;
  padding: 0 20px 20px 20px;
  background-color: var(--content-bg);
}

#page-title{
  margin-top: 0;
  padding-top: 10px;
}

a{
  color: var(--link);
  text-decoration: none;
}

a:hover{
  text-shadow: 0 0 5px var(--link-hover);
}

@media only screen and (max-width: 1890px){
  .content{
    margin: 0 15vw;
  }
}

@media only screen and (max-width: 1625px){
  .content{
    margin: 0 10vw;
  }
}

@media only screen and (max-width: 1439px){
  .content{
    margin: 0 5vw;
  }
}

@media only screen and (max-width: 1024px){
  .content{
    margin: 0 1vw;
  }
}

@media only screen and (max-width: 375px){
  .content{
    margin: 0;
    padding: 0 10px 10px 10px;
  }
}