.nav{
  padding: 0 20vw;

  background-color: var(--nav);
  
  overflow: hidden;
}

.nav ul{
  display: inline;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.nav li{
  border-radius: 5px;
  display: block;
  float: left;
  padding: 5px 14px;
  margin: 0 5px;
  
  background-color: var(--bg);
  color: var(--nav-text);

  text-align: center;
  text-decoration: none;
}

.nav li a:hover{
  text-shadow: none;
}

.nav li:hover{
  background-color: var(--nav-li-hover);
  
  text-decoration: none;
}

.slider {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  background-color: #E3E3E3;

  transition: .4s;

  cursor: pointer;
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider:before {
  bottom: 4px;
  height: 16px;
  left: 4px;
  position: absolute;
  width: 16px;

  background-color: #fff;

  content: "";

  transition: .4s;
}

.theme-switch-container{
  align-items: center;
  display: flex;
  float: right;
  padding-right: 10px;
}

.theme-switch{
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
}

.theme-switch input{
  display: none;
}

input:checked + .slider {
  background-color: #5991AA;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#seal{
  float: left;
  height: 90px;
  margin: 10px;
  width: 90px;
}

#seal:hover{
  animation: rotate 2s;
  animation-delay: 5s;
}

#theme-icon{
  height: 20px;
  margin: 5px;
}

#title{
  color: var(--nav-text);
  margin: 10px auto 15px;

  text-shadow: none;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(3600deg);
  }
}

@media only screen and (max-width: 1890px){
  .nav{
    padding: 0 15vw;
  }
}

@media only screen and (max-width: 1625px){
  .nav{
    padding: 0 10vw;
  }
}

@media only screen and (max-width: 1439px){
  .nav{
    padding: 0 5vw;
  }
}

@media only screen and (max-width: 1024px){
  .nav{
    padding: 0 1vw;
  }
}

@media only screen and (max-width: 707px){
  .nav{
    padding-bottom: 10px;
  }

  #seal{
    display: none;
  }

  #title{
    margin-left: 5px;
  }
}

@media only screen and (max-width: 594px){
  .nav li{
    margin-bottom: 10px;
  }
}