.level-container{
  float: left;
  width: calc(100% - 356px);
}

.level-info{
  width: 20vw - 10px;
  float: right;
  padding: 15px;

  background-color: var(--content-highlight-bg);
}

.strat-container{
  margin: 0 0 10px 0;
  padding: 15px;
  width: 40vw;
  display: inline-block;

  background-color: var(--content-highlight-bg);
}

section{
  float: right;
}

iframe{
  max-width: 570px;
  min-height: 320px;
  height: auto;
  width: 100%;
  float: left;
  padding-right: 10px;
}

#category-list{
  margin: 0;
  padding-bottom: 5px;
  font-size: 12px;
}

#info-text{
  margin: 0;
  font-size: 12px;
}

#info-title{
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: bold;
}

#strat-desc, #strat-name{
  margin: 0;
}

#strat-name:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1265px){
  .strat-container{
    width: calc(100% + 20px);
  }
}

@media only screen and (max-width: 768px){
  .level-info{
    width: 200px;
  }

  .strat-container{
    width: calc(100% + 80px);
  }

  iframe{
    width: 100%;
  }

  #level-image{
    width: 200px;
  }
}

@media only screen and (max-width: 425px){
  .level-container{
    width: calc(100% - 30px);
  }

  .level-info{
    display: none;
  }

  .strat-container{
    width: 100%;
  }

  iframe{
    min-height: 210px;
  }
}

@media only screen and (max-width: 320px){
  iframe{
    min-height: 140px;
  }
}